.stay-explore-list-container{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .stay-explore-list-container {
        overflow-x: hidden;
        max-width: 100%;
    }
}