.login-form,
.signup-form {
	display: grid;
	width: min(80%, 300px);
	margin: auto;

	padding: 1em;
	background-color: var(--clr4);
}

.signup-form {
	input {
		width: 100%;
	}

    .admin-toggle {
        display: flex;
        align-items: center;
        justify-self: start;

        span {
            font-size: .8em;
        }
    }
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;

	a {
		font-size: 0.8em;
		color: var(--clr4);

		&:hover {
			color: var(--clr1);
		}
	}
	a.active {
		text-decoration: underline;
		color: var(--clr2);
	}
}

@media (max-width: 768px) {
	.login-form,
	.signup-form {
		width: min(90%, 100%);
		padding: 1em;
		max-width: 100%;
		overflow-x: hidden;
	}

	.login-page nav {
		margin-block: 50px 0.5em;
		gap: 1em;
	}
}
