/* @font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
} */

/* Airbnb Cereal, assets/fonts */

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_XBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../../fonts/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
